// このファイルをconfig.jsとしてコピーして使用してください
// Slack Appの設定に合わせて情報を更新してください

// let default_custom_message = 'まで離席します';

let target_list = [
// channel,    thread_ts,           Bot User OAuth Token
  ['#kintai1', '1234567890.012300', 'xoxb-111111111111-11111111111111-aaaaaaaaaaaaaaaaaaaaaaaa'],
  ['#kintai2', '1234567890.012300', 'xoxb-222222222222-22222222222222-bbbbbbbbbbbbbbbbbbbbbbbb'],
];
